<ion-header >
  <ion-navbar color="app">
    <ion-title>
      {{ 'Eleyoun' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background:#45b97c">
  <ion-grid>
    <ion-row>
      <ion-col col-2 >

      </ion-col>
      <ion-col col-4 style="text-align:center;">
        <img src="assets/image/Quran.png" style = "width:80%" (click)="open()">
      </ion-col>
      
      <ion-col col-4 style="text-align:center;margin-top:10px;">
        <img src="assets/image/dua.png" style = "width:55%">
        
      </ion-col>
      <ion-col col-2 >

      </ion-col>
    </ion-row>