<ion-header >
  <ion-navbar color="app">
    <ion-title>
       {{ 'Settings' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background:#45b97c"> 
  <ion-item style="background:#45b97c">
  <ion-label style="color:white">{{ 'Language' | translate }}</ion-label>
  <ion-select [(ngModel)]="language" (ionChange)="onChange($event)" >
    <ion-option value="es" style="color:aliceblue">Arabic</ion-option>
    <ion-option value="en">English</ion-option>
  </ion-select>
</ion-item>
<ion-item style="background:#45b97c">
  <ion-label style="color:white">{{ 'Date' | translate }}</ion-label>
  <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
</ion-item>

<ion-item style="background:#45b97c">
  <ion-label style="color:white">{{ 'Time' | translate }}</ion-label>
  <ion-datetime displayFormat="HH/mm/ss" [(ngModel)]="myDate"></ion-datetime>
</ion-item>


</ion-content>
